.main-container {
    height: 90vh;
    display: flex;
    flex-direction: row;
}
.image {
    border-radius: 6px;
    flex: 1;
    background-position: center center;
    background-size: cover;
}
.image.active {
    flex: 3;
}